.container {
  max-width: 1000px;
  margin: 40px auto;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-text {
  font-weight: 600;
  font-size: 20px;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

.table-head {
  background-color: #f2f2f2;
  padding: 12px !important;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px 12px;
}

.table-input {
  padding: 6px;
  border-radius: 4px;
}

.table-select {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 30px;
}

.input-component {
  margin-top: 19px;
}

.button-component {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.error-text {
  color: red;
  font-size: 12px;
  width: 100%;
  height: 20px;
}

.submit-button {
  color: white;
  background-color: #1976d2;
}

.pagination-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination-item {
  width: 24px;
  height: 24px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination div {
  margin: 0px 4px;
}

.item-active {
  color: white;
  background-color: #1976d2;
}

.ml-2 {
  margin-left: 8px;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  border-radius: 8px;
  width: 40%;
}

.modal-products-showcase::-webkit-scrollbar {
  width: 8px;
}

.modal-products-showcase::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal-products-showcase::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

.modal-products-showcase::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-header {
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
}

.modal-header p {
  font-size: 20px;
  font-weight: 600;
}

.close-button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-products-showcase {
  margin: 0px 12px;
  max-height: 350px;
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  justify-content: end;
  padding: 16px;
}

.product-card {
  display: flex;
  padding: 8px 0px;
  border-bottom: 1px solid #ddd;
}

.product-card-detail {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.product-card-detail p {
  margin: 8px 0px;
  color: #aaaaaa;
}

.product-card-detail span {
  color: black;
}

.product-card-name {
  font-weight: 600;
  color: black !important;
}

.product-card-sku {
  color: red !important;
}

.errors-section {
  color: red;
}

@media only screen and (max-width: 1024px) {
  .modal-content {
    width: 80%;
  }
}